<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!--<add name="SMART_INVESTMENT_DB_Connection" connectionString="Data Source= localhost; Integrated Security=true;Initial Catalog= SMART_INVESTMENT_DB; uid=sa; Password=sot196196; " providerName="System.Data.SqlClient" />-->

    <add name="SMART_INVESTMENT_DB_Connection" connectionString="Data Source= LAPTOP-84R05V8P\SQLEXPRESS; Integrated Security=true;Initial Catalog= SMART_INVESTMENT_DB; uid=sa; Password=sot196196; " providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>